# EmailJS Configuration Example
EMAILJS_SERVICE_ID=service_vkw7bgf
EMAILJS_TEMPLATE_ID=template_ziq7fof
EMAILJS_AUTOREPLY_TEMPLATE_ID=template_afeo9r3
EMAILJS_PUBLIC_KEY=5kZP5XzYGtjNMfNUt
EMAILJS_PRIVATE_KEY=XuPlGLqArTOEiHFm0TBE7
